html, body{
	padding: 0px;
	margin: 0px;
	display: block;
	width: 100%;
}
a{
	font-style: none;
}
.overall{
	position: relative;
	display: flex;
	width: 105%;
	padding: 0px;
	margin: 0px;
}

.header {
	height: 10%;
	width: 105%;
	display: block;
	position: fixed;
	text-align: center;
	background-color: #343434;
	z-index: 2;
	top: 0;
	float: left;

}
.headerWrapper{
	display: inline-block;
	position: relative;
	height: 105%;
	width: 24%;
	text-align: center;
	top: 0;
	margin: 0;
	padding: 0;
}
#first{
	position: relative;
	display: inline-block;
	background-size: 100%;
	float: left;
}
#second{
	position: relative;
	display: inline-block;
	background-size: 100%;
	float: left;
}
#third{
	position: relative;
	display: inline-block;
	background-size: 100%;
	float: left;
}
#fourth{
	position: relative;
	display: inline-block;
	background-size: 100%;
	float: left;
}

.header h1 {
	position: relative;
	background-color: #343434;
	padding-top: 10%;
	margin: 0;
	height: inherit;
	color: white;
	font-family: Helvetica, Arial, sans-serif; 
	font-size: 2em;
	text-align: center;
	cursor: pointer;
	transition: background-color .3s, ease-out-in;
}

h1:hover {
	background-color: #94C643;
}

.list {
	display: block;
	position: relative;	
	width: 24%;
	text-align: center;
	top: 0;
	left: 0;
	margin-top: 10%;
	float: left;
}

.list img{
	position: relative;
	opacity: 1;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	float: left;
	transition: width 1s, height 1s, opacity .1s, ease-out-in;
	}

img:hover{
opacity: .6;
}


#united_states{
}
#germany{
}
#chile{
}
#finland{
}